.main{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: monospace;
    display: flex;
    flex-flow: column;
    text-align: center      ;
}

.main h1{
    font-weight: 500;
}